<VirtualHost *:80>
        ServerAdmin webadmin@localhost
        ServerName cantinagatos.com
        ServerAlias www.cantinagatos.com
        DocumentRoot /mnt/cantina/

        <Directory /mnt/cantina/>
                Options Indexes FollowSymLinks
                AllowOverride All
                Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin webadmin@localhost
    ServerName cantinagatos.org
    ServerAlias local.cantinagatos.com
    DocumentRoot /mnt/cantina/

    <Directory /mnt/cantina/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    
    ErrorLog /logsCantina/error.log
    CustomLog /logsCantina/access.log combined
</VirtualHost>
